# Node.js
node_modules/

# Python
__pycache__/
*.pyc
venv/

# Build artifacts
dist/
build/

# IDE files
.vscode/
.idea/

#including the csv
!backend/sample_df_50k.csv
!backend/nyc_nta_2020.geojson
!backend/requirements.txt
